* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
background-color: slateblue;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    align-items: center;
}

.container .title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    color: slateblue;
}

.container .title:hover {
    color: slategray;
}

.container .title:active {
    color: darkolivegreen;
}

.container form .user-details1 {
    display: grid;
    height: 250px;
    width: 350px;
}

form .user-details1 label {
    padding-top: 15px;
}

.container form .user-details2 {
    display: grid;
    height: 250px;
    width: 350px;  
}
.user-details2 label {
    padding-top: 15px;
}
}

form .user-details2 label {
    padding-top: 15px;
}

.overall-details {
    display: flex;
    gap: 50px;
}

.container form .sex {
    font: bold;
    font-size: 20px;
    padding-top: 15px;
}
 

 .button input {
     height: 40px;
     width: 100%;
     font-weight: 500;
     letter-spacing: 2px;
     color: #fff;
     background-color: slateblue;
     border: none;
     border-radius: 3px;
     padding-top: 5px;
 }

 .button input:hover {
     color: steelblue;
     transition: 0.3s;
 }

 .button input:active {
     background-color: teal;
     animation: alternate-reverse;
 }

 .gender-options {
     display: flex;
     padding-bottom: 3px;
     gap: 40px;
 }

 form .user-details2 input:focus, 
 form .user-details2 input:valid {
     border-color: slateblue;
     
 }
